<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PDFspool" value="D:\RICOH\Projects\PrintMultisize\PDFspool" />
    <add key="PDFreject" value="D:\RICOH\Projects\PrintMultisize\PDFreject" />
    <add key="PDFinfo" value="D:\RICOH\Projects\PrintMultisize\pdfinfo.exe"/>
    <!--<add key="PDFpath" value="C:\Program Files (x86)\Adobe\Reader 11.0\Reader\AcroRd32.exe"/> -->
    <add key="GSpath" value="C:\Program Files (x86)\gs\gs9.23\bin\gswin32c.exe"/>
    <add key="GSarg" value="-dBATCH -dNOPAUSE -dPDFFitPage -dDEVICEWIDTHPOINTS={0} -dDEVICEHEIGHTPOINTS={1} -sDEVICE=mswinpr2 -sOutputFile=%printer%&quot;{2}&quot; &quot;{3}&quot;"/>

    <!--Values for Printers: P1, P2, P3 etc-->
    <add key="P1" value="RICOHANGAMOS3" />

    <add key="QtyPaper" value ="4" />
    <!--Values for T1-->
    <add key="S1" value="_T1" />
    <add key="TX1" value="595" />
    <add key="TY1" value="842" />

    <!--Values for T3-->
    <add key="S2" value="_T3" />
    <add key="TX2" value="369" />
    <add key="TY2" value="530" />

    <!--Values for T4-->
    <add key="S3" value="_T4" />
    <add key="TX3" value="292" />
    <add key="TY3" value="391" />

    <!--Values for DCO-->
    <add key="S4" value="_DCO" />
    <add key="TX4" value="340" />
    <add key="TY4" value="765" />
  </appSettings>
</configuration>