<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="PDFspool" value="D:\RICOH\Projects\PrintMultisize\PDFspool" />
    <add key="PDFreject" value="D:\RICOH\Projects\PrintMultisize\PDFreject" />
    <add key="PDFinfo" value="D:\RICOH\Projects\PrintMultisize\pdfinfo.exe"/>

    <add key="P1" value="PRINTER_SURQUILLO" />
    <add key="P2" value="PrintSite2" />
    <add key="P3" value="PrintSite3" />
    <add key="P4" value="PrintSite4" />

    <add key="QtyPaper" value ="3" />
    <!--Values for T1-->
    <add key="S1" value="_T1" />
    <add key="TX1" value="595" />
    <add key="TY1" value="842" />

    <!--Values for T3-->
    <add key="S2" value="_T3" />
    <add key="TX2" value="369" />
    <add key="TY2" value="530" />

    <!--Values for T4-->
    <add key="S3" value="_T4" />
    <add key="TX3" value="292" />
    <add key="TY3" value="391" />
  </appSettings>
</configuration>